# Virtual environment
/venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Model artifacts
*.pt
*.bin
*.safetensors

# OS
.DS_Store
Thumbs.db

# Assignment PDF
DI_725_Assignment_1.pdf

# Logs
*.log
wandb/
